@model IEnumerable<Acebook.Models.Post>
@{
    ViewData["Title"] = "Home Page";
    var url = @Url.Action("CreatePost", "Home");
}

<div class="text-center">
    <h1 class="display-4">Welcome Sharpies</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building top-notch Shoobie Doobie Web apps with ASP.NET Core</a>.</p>

    <ul>
    @foreach(var item in Model) 
    {
        <li>
            <span>@item.Body</span> <span>@item.CreatedAt</span>            
        </li>  
    }
    </ul>

    <br />

    <form action='@url' method="post">
        <div class="container">
            <label for="content"><b>Post </b></label>
            <input type="text" placeholder="message" style="text-align: center" name="body" required>
            <div class="clearfix">
                <button type="submit" class="postbtn">post</button>
            </div>
        </div>
    </form>


        <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Log in to Acebook</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form method='post' action='/signin' type='submit'>
                Email: <br>
                <input type="email" name="email"><br><br>
                Password: <br>
                <input type="password" name="password"><br><br>
                <input type ="submit" value="Sign In" class="btn btn-primary">
            </form>
        </div>
        </div>
    </div>
    </div>
</div>
