@model IEnumerable<Acebook.Models.Post>
@{
    ViewData["Title"] = "Home Page";
    var url = @Url.Action("CreatePost", "Home");
}

<div class="text-center">
    <h1 class="display-4">Welcome Sharpies</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building top-notch Shoobie Doobie Web apps with ASP.NET Core</a>.</p>

    <ul>
    @foreach(var item in Model) 
    {
        <li><span>@item.Body</span> <span>@item.CreatedAt</span></li>  
    }
    </ul>

    <br />

    <form action='@url' method="post">
        <div class="container">
            <label for="content"><b>Post </b></label>
            <input type="text" placeholder="message" style="text-align: center" name="body" required>
            <div class="clearfix">
                <button type="submit" class="postbtn">post</button>
            </div>
        </div>
    </form>
</div>
