@{
    ViewData["Title"] = "Sign Up";
}

<div class="jumbotron">
    <div class="text-center">
        <h1 class="display-4">Sign up to Acebook</h1>
        <form method='post' action='/post' type='submit'>
            Name:<br>
            <input type="text" name="name"><br><br>
            Email: <br>
            <input type="email" name="email"><br><br>
            Password: <br>
            <input type="password" name="password"><br><br>
            <input type ="submit" class="btn btn-primary postbtn" value="Sign up">
        </form>
    </div>
</div>
